.ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    h2{
        padding: 30px;
    }
    iframe{
        width: 500px;
    }
}
.carruselTienda{
    width: 500px;
}