.footerAncho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top,rgba(128, 149, 155, 0.247),rgba(128, 128, 128, 0.123));
    color:black;
    justify-content: center;
    padding: 50px 5px;
    height: 70%;
    font-size: 15px;
    .seccionFooter{
        ul li a{
            text-decoration: none;
            color:black;
            font-size: 17px;
        }
        h4{
            padding: 3px 0px;
            font-size: 18px;
            font-weight: bold;
        }
        p{
            width: 150px;
            font-size: 17px;
        }
        img{
            width: 30px;
            padding: 3px;
        }
    }
}
.footerCopyright{
    padding: 7px 5px;
    display: flex;
    justify-content: start;
    font-size: 13px;
}
@media(min-width:768px){
    .footerAncho{
        flex-direction: row;
        justify-content: space-evenly;
    }
}