.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 150px;
        margin: 20px;
    }
}

.carousel-item{
    p{
        color: black;
    }
    h5{
        color: black;
    }
}
 