.envio{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-image: linear-gradient(to top,rgba(128, 149, 155, 0.247),rgba(128, 128, 128, 0.123));
}
.herramientas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
@media(min-width:768px){
    .herramientas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.logo{
    img{
        height: 150px;
    }
}
.cuenta{
    font-size: 13px;
}
.carousel-item{
    p{
        color: black;
    }
    h5{
        color: black;
    }
}
.navegador{
    font-size: 18px;
}