.envio{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-image: linear-gradient(to top,rgba(128, 149, 155, 0.247),rgba(128, 128, 128, 0.123));
}
.herramientas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logo{
    img{
        height: 200px;
    }
}
.cuenta{
    font-size: 13px;
}
.carousel-item{
    p{
        color: black;
    }
    h5{
        color: black;
    }
}
.carruselTexto{
    h5{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }

}
.navegador{
    font-size: 18px;
}
@media(min-width:768px){
    .herramientas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media(min-width:1400px){
    .logo{
        img{
            height: 250px;
        }
    }
    .carruselTexto{
        h5{
            font-size: 35px;
        }
        p{
            font-size: 30px;
        }
    }
}
.icon{
    width: 50px;
}