.barraBeneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    margin: 8px 0px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    .beneficios{
        display: flex;
        flex-direction: row;
        img{
            width: 35px;
            height: 30px;
            padding: 1px 3px;
        }
        p{
            padding: 0px 5px;
        }
    }
}
.contenedorInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 10px;
}
.mainInicio{
    width: 380px;
    height: 300px;
    margin: 20px 0px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.432);
    :hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.281);
        transition: all 0.9s ease;
        transform: scale(1.1);
    }
    img{
        width: 100%;
        height: 100%;
    }
    h3{
        font-size: 2rem;
        position: absolute;
        top: 45%;
        left: 20%;
        color:rgb(37, 35, 35);
        font-weight: bold;
    }
}
.separacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: black;
    margin: 80px 0px;
    background-image: linear-gradient(to top,rgba(128, 149, 155, 0.247),rgba(128, 128, 128, 0.123));
    img{
        width: 40px;
        margin: 10px;
    }
    .instagram{
        line-height:20px;
        margin-top: 10px;
        a{
            font-size: 30px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight:500;
            color: black;
            text-decoration: none;
        }
        p{
            font-size: 15px;
        }
    }
}
.tarjetasServicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    .servicio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 6px;
        width: 380px;
        margin: 30px 0px;
    }
    img{
        width: 300px;
        height: 280px;
        padding: 20px;
    }
    p{
        padding: 10px;
    }
}
.slider{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.281);
    img{
        width: 450px;
    }
}
.contenedorFotos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 80px 0px;
    :hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.281);
        transition: all 0.5s ease;
        transform: scale(1.01);
    }
    img{
        width: 300px;
        padding: 10px;
    }
}
.ahoraDoce{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
@media(min-width:576px){
    .slider{
        display: flex;
        justify-content: center;
        margin: 90px 0px;
        img{
            width: 100%;
        }
    }
}
@media(min-width:768px){
    .mainInicio{
        width: 450px;
        height: 380px;
    }
}
@media(min-width:992px){
    .barraBeneficios{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        padding-top: 45px;
        height: 40px;
        font-size: 18px;
        margin: 0px;
        img{
            width: 40px;
            height: 35px;
            padding: 0px 2px;
        }
    }
    .mainInicio{
        margin: 20px;
    }
    .tarjetasServicios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 80px 0px;
        .servicio{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 300px;
            width: 600px;
        }
    }   
}
@media(min-width:1200px){
    .contenedorInicio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 50px 0px;
    }
}
@media(min-width:1400px){
    .barraBeneficios{
        height: 100px;
        font-size: 25px;
        .beneficios{
            img{
                width: 45px;
                height: 40px;
                padding: 2px 3px;
            }
            p{
                padding: 0px 6px;
            }
        }
    }
    .mainInicio{
        width: 500px;
        height: 420px;
        h3{
            font-size: 40px;
        }
    }
}