.titulo{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.mainInicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 30px 150px;
    .cajaFoto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        margin: 10px;
        :hover{
            transform: scale(1.03);
            transition: all 0.5s ease;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.24);
        }
        img{
            width: 350px;
        }
        h2{
            padding: 10px;
        }
    }
}
.contenedorFotos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 80px 30px;
    :hover{
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.281);
        transition: all 0.5s ease;
        transform: scale(1.01);
    }
    img{
        width: 400px;
        margin: 10px;
    }
}
.separacion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.671);
    color: white;
    margin: 100px 0px;
    img{
        width: 40px;
        margin: 8px;
    }
}
.instagram{
    margin: 7px;
    line-height: 0%;
    h3{
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    p{
        font-size: 15px;
    }
}
@media(min-width:1200px){
    .mainInicio{
        flex-direction: row;
        margin: 20px;
    }
}