.cajaIniciarSesion {
    display: flex;
    justify-content: center;
}

.iniciarSesion {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;

    h2 {
        font-weight: bold;
        margin: 20px;
    }

    form {
        width: 400px;
        border: 1px solid grey;
        border-radius: 8px;
        padding: 30px;

        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 5px;
        }
    }

}

.btnSesion {
    margin: 15px 0px;
    width: 100%;
    padding: 5px;
    border: 1px;
    border-radius: 5px;
    background-color: rgba(59, 100, 214, 0.705);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}