$colores:( 
    primario: rgba(111, 156, 223, 0.486), 
    secundario: rgba(168, 124, 189, 0.473), 
    terciario: rgba(233, 139, 221, 0.541) 
); 
$btn:(
    padding: 8px,
    border: 1px,
    border-radius: 5px
);